/*FORMATAÇÃO DA PÁGINA
=====================*/
body {
	font-family: 'Open Sans', sans-serif;
	font-size: 20px;
	background-color: rgb(240, 240, 240);
	margin: 0;
}


/*FORMATAÇÃO DOS TÍTULOS
=======================*/
h1 {
	font-family: 'Montserrat', sans-serif;
	font-size: 50px;
	color: #d13333;
	font-weight: lighter;
}
h2 {
	font-weight: lighter;
}

/*MENU DE NAVEGAÇÃO
====================*/
nav ul {
  display: flex;
  justify-content: center;
  list-style: none;
}
a {
	font-size: 24px;
  color: #000;
  margin: 10px;
}
a:hover {
	text-decoration: none;
	color: #fff;
}

/*FOMATAÇÃO E ESTILIZAÇÃO
========================*/
#header {
  text-align: center;
  background-image: url("https://unsplash.it/1300/600?random");
  background-size: cover;
  padding: 150px;
  color: #fff;
  text-shadow: 1px 1px 5px black;
}
#header h1 {
  color: #fff;
  font-size: 50px;
}
#header p {
  color: #fff;
  opacity: 0.8;
  font-size: 30px;
  font-weight: lighter;
}

svg {
  width: 100px;
  height: 100px;
}
#footer{
  padding: 10px;
  background: rgb(30, 30, 30);
  color: lightgrey;
}
#footer a {
	color: lightgrey;
	font-size: 15px;
}
#footer a:hover {
	color: #fff;
}

/*CARDS
======*/
.card{
  padding: 50px;
  font-weight: lighter;
}